
<div class ="container d-flex justify-content-between align-items-center ">
  <h1> All Lists</h1>
  <%= link_to   "Create a movie list!", "/lists/new", class: "btn btn-primary" %>
</div>

<div class= "container ">
  <div class=row>
    <% @lists.each do |list| %>
      <div class="col-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><%= list.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
