<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class ="container d-flex justify-content-between align-items-center my-5  ">
  <h1> My Lists</h1>
  <%= link_to   "Create a movie list!", "/lists/new", class: "btn button-primary button-56" %>
</div>

<div class= "container ">
  <div class=row>
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card-category text-center mb-5 ">
          <div class="card-body">
            <p class="card-text"><%= link_to list.name, "/lists/#{list.id}", class: "nav-link" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
